.container{
    display:block;
    margin:auto;
    text-align: center;
    margin-top:4rem;
}
.display input {
    background-color: red;
    height: 90px;
    width: 185px;
    border-radius: 10px 10px 0 0;
    border:none;
    padding-right: 15px;
}
input::placeholder {
    color: #fff;
    font-size: 28px;
    text-align: right;

}
.input-number{
    color: #fff;
    font-size: 28px;
    text-align: right;
}
input[type=button] {
    width: 30px;
    height: 30px;
    float: left;
    padding: 0;
    margin: 10px 5px;
    box-sizing: border-box;
    background: #ecedef;
    border: none;
    font-size: 22px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #5E5858;
    cursor: pointer;
}
input[type=button]:focus,input[type=button]:active
{
    outline: none;
}
.flex-container {
    display: flex;
    justify-content: center;
}
.row {
    display: flex;
    justify-content: space-around;
    width:200px;
    background-color: #fff;
    border: 1px solid #fff;
}
.display-number {
    width:198px;
    background-color: #ccc;
    display:block;
    margin:auto;
    border: 1px solid #ccc;
    border-top:0;
}
.flex-container:nth-child(4) > .row > input:nth-child(4) {
    background-color: red;
    color: #fff;
}