* {
    margin: 0;
    padding: 0;
}
.nav {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    border-radius: 5px;
}
ul  li {
    list-style: none;
    width: 216px;
    line-height: 60px;
    position:relative;
    box-shadow: 0px 2px 5px 0px grey;
    float: left;
    background-color: #010000;
    color: #fff;
}
ul li a {
    color: #fff;
    text-decoration: none;
}
ul li a:hover{
    font-weight: bold;
    border-bottom: 2px solid #fff;
}
ul {
    text-align: center;
}
ul li ul {
    position: absolute;
    display:none;
}
.nav ul li:hover ul {
    display: block;
}
