body{
    font-family: 'Poppins', sans-serif;
    color: white;
}
body::before{
    content: '';
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
    background-image: linear-gradient(
            115deg,
            rgba(58, 58, 158, 0.8),
            rgba(136, 136, 206, 0.7)
    ),
    url('https://raw.githubusercontent.com/lasjorg/fcc-form-example-image/master/67103817-7c51e200-f18b-11e9-975f-f74561336a9a-lj.jpg');
}
#title {
    text-align: center;
    font-size: 1.8rem;
}
#description {
    text-align: center;
}
.card{
    margin:0 auto;
    display:block;
    border-color: #292947;
}
.card-body{
    background-color: rgba(41, 41, 71,1);
    padding: 50px;
}
input[type=radio], input[type=checkbox] {
    transform: scale(1.5);
}
.btn-success {
    width:100%;
}