div.title > h1 {
    display:block;
    margin: auto;
}
#main {
    background-color: #EEEEEE;
    padding: 60px 0;
    margin: 30px 8px;
}
.image {
    text-align: center;
    background-color: white;
    padding: 3px;
    margin: 1rem;
}
img {
    max-width:100%;
    display: block;
    height: auto;
    margin:auto;
    padding-top: 35px;
}
ul{
    margin: 0 auto 50px auto;
    text-align:left;
    line-height: 2.6;
    max-width: 550px;
}
@media(max-width:640px){
    h4 {
        font-size: 1.2rem;
    }
    .caption {
        font-size: 0.875rem;
    }
    .image {
        padding: 15px;
    }
}
@media(max-width:906px) {
    .image {
        padding: 10px;
    }
}
body{
    margin: 0;
}